################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Power_Usage/.vs/Power_Usage
/Power_Usage/.vs/ProjectEvaluation
